---
import EditorialLayout from '../layouts/EditorialLayout.astro'
import AdSlot from '../components/AdSlot.astro'
import Hero from '../components/Hero'
import Rekomendasi from '../components/Rekomendasi'
import UpdateSection from '../components/UpdateSection'
import { fetchLatest } from '../lib/komiku'

let latestFeed: any[] = []

try {
  const pages = await Promise.all([fetchLatest(1), fetchLatest(2), fetchLatest(3), fetchLatest(4)])
  latestFeed = pages.flat()
} catch (error: any) {
  console.error('[Home] Failed to load manga:', error.message)
}
---

<EditorialLayout title="YummyScans - Baca Komik Sub Indo">

  {/* HERO */}
  <Hero client:load />

  {/* AD: 728x90 desktop / 320x50 mobile */}
  <section class="py-8 bg-background">
    <div class="max-w-[1280px] mx-auto px-6 flex justify-center">
      <AdSlot width={728} height={90} adKey="2d5b42ffd6cb16d65bd3eb553d7e0eec" class="hidden md:block" />
      <AdSlot width={320} height={50} adKey="a675c284043575bba74699224c71581c" class="block md:hidden" />
    </div>
  </section>

  {/* REKOMENDASI */}
  <Rekomendasi client:load manga={latestFeed} />

  {/* AD: 300x250 */}
  <section class="py-6 bg-background">
    <div class="max-w-[1280px] mx-auto px-6 flex justify-center">
      <AdSlot width={300} height={250} adKey="e9535ef5bb08e3bcfa1e00b46abac2e6" />
    </div>
  </section>

  {/* UPDATE */}
  <UpdateSection client:load manga={latestFeed} />

  {/* AD: 300x250 */}
  <section class="py-6 bg-background">
    <div class="max-w-[1280px] mx-auto px-6 flex justify-center">
      <AdSlot width={300} height={250} adKey="e9535ef5bb08e3bcfa1e00b46abac2e6" />
    </div>
  </section>

</EditorialLayout>
